<!-- ========== MAIN ========== -->
<main id="content" role="main">

  <div class="container u-space-3 text-center mt-9 text-primary">
    <h1 class="font-weight-bold font-size-64">What?</h1>
    <h3>What is Shukufuku？</h3>
  </div>

  <div class="container u-space-3 text-center mt-9 text-primary">
    <img src="/about/muda.jpg" class="">
  </div>

  <div class="container u-space-3 text-center">
    <h2 class="text-left font-weight-bold font-size-24">変わらないご祝儀文化<br>
      参列いただく方の不を解消</h2>
    <img src="/about/tradition.png" class="">
  </div>

  <div class="container u-space-3 text-center mt-9 text-primary">
    <h2 class="text-center font-size-24 mb-9">SERVICE</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="bg-primary-round" style="margin:auto;">
          <img src="/about/money.png" class="p-5">
        </div>
        <h4 class="mt-4">ご祝儀の事前受け取り</h4>
      </div>
      <div class="col-sm-4">
        <div class="bg-primary-round" style="margin:auto;">
          <img src="/about/creca.png" class="p-5">
        </div>
        <h4 class="mt-4">ご祝儀の電子化</h4>
      </div>
      <div class="col-sm-4">
        <div class="bg-primary-round" style="margin:auto;">
          <img src="/about/haisou.png" class="p-5">
        </div>
        <h4 class="mt-4">手ぶらで参加</h4>
      </div>
    </div>
  </div>

  <div class="container u-space-3 text-center text-primary">
    <h2 class="text-center font-size-24 mb-9">Shukufuku ご利用の流れ</h2>
    <img src="/about/flow.png" class="">
  </div>

  <div class="container u-space-3 text-center text-primary">
    <button class="btn btn-lg btn-outline-primary primary-btn">登録はこちらから</button>
  </div>

  <!-- よくある質問 -->
  <div class="container  u-space-3">
    <!-- Title -->
    <div class="">
      <div class="mb-3 text-center">
        <h2 class="font-weight-bold font-size-24">Do you have a question?</h2>
        <h4>よくある質問</h4>
      </div>
      <!-- End Title -->

      <div id="FAQCollapse" class="accordion">
        <!-- Card -->
        <div class="card u-card-collapse">
          <div class="card-header px-4" id="FAQHeadingOne">
            <div class="collapsed" data-toggle="collapse" data-target="#FAQOne" aria-expanded="false" aria-controls="FAQOne" role="button">
              <h3 class="h6 d-flex justify-content-between align-items-center font-weight-normal u-card-collapse__heading mb-0">
                Can I cancel at anytime?
                <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
              </h3>
            </div>
          </div>
          <div id="FAQOne" class="collapse" aria-labelledby="FAQHeadingOne" data-parent="#FAQCollapse">
            <div class="card-body px-4">
              Yes, you can cancel anytime no questions are asked while you cancel but we would highly appreciate if you will give us some feedback.
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card u-card-collapse">
          <div class="card-header px-4" id="FAQHeadingTwo">
            <div class="collapsed" data-toggle="collapse" data-target="#FAQTwo" aria-expanded="false" aria-controls="FAQTwo" role="button">
              <h3 class="h6 d-flex justify-content-between align-items-center font-weight-normal u-card-collapse__heading mb-0">
                My team has credits. How do we use them?
                <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
              </h3>
            </div>
          </div>
          <div id="FAQTwo" class="collapse" aria-labelledby="FAQHeadingTwo" data-parent="#FAQCollapse">
            <div class="card-body px-4">
              Once your team signs up for a subscription plan. enim eiusmod high life accusamus eoset dignissimos.
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card u-card-collapse">
          <div class="card-header px-4" id="FAQHeadingThree">
            <div class="collapsed" data-toggle="collapse" data-target="#FAQThree" aria-expanded="false" aria-controls="FAQThree" role="button">
              <h3 class="h6 d-flex justify-content-between align-items-center font-weight-normal u-card-collapse__heading mb-0">
                How does Front's pricing work?
                <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
              </h3>
            </div>
          </div>
          <div id="FAQThree" class="collapse" aria-labelledby="FAQHeadingThree" data-parent="#FAQCollapse">
            <div class="card-body px-4">
              Our subscriptions are tiered. based on the number of people enim eiusmod high life accusamus terry richardson ad squid.
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card u-card-collapse">
          <div class="card-header px-4" id="FAQHeadingFour">
            <div class="collapsed" data-toggle="collapse" data-target="#FAQFour" aria-expanded="false" aria-controls="FAQFour" role="button">
              <h3 class="h6 d-flex justify-content-between align-items-center font-weight-normal u-card-collapse__heading mb-0">
                How secure is Front?
                <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
              </h3>
            </div>
          </div>
          <div id="FAQFour" class="collapse" aria-labelledby="FAQHeadingFour" data-parent="#FAQCollapse">
            <div class="card-body px-4">
              Protecting the data you trust to Front is our first priority. at vero eoset dignissimos ducimus qui blanditiis.
            </div>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card u-card-collapse">
          <div class="card-header px-4" id="FAQHeadingFive">
            <div class="collapsed" data-toggle="collapse" data-target="#FAQFive" aria-expanded="false" aria-controls="FAQFive" role="button">
              <h3 class="h6 d-flex justify-content-between align-items-center font-weight-normal u-card-collapse__heading mb-0">
                What is your refund policy?
                <span class="fa fa-angle-up u-card-collapse__heading-icon"></span>
              </h3>
            </div>
          </div>
          <div id="FAQFive" class="collapse" aria-labelledby="FAQHeadingFive" data-parent="#FAQCollapse">
            <div class="card-body px-4">
              We do not offer refunds apart leggings occaecat craft beer farm-to-table. raw leggings occaecat craft.
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>

  <hr style="border-color:#e67b80;">

  <!-- 提携企業一覧　-->
  <div class="container">
    <h2 class="text-center font-size-24 mb-9">提携企業一覧</h2>
    <div class="row">

    </div>
  </div>
</main>
