<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Blog Classic Section -->
    <div class="p-3">

      <div id="confirm" class="container u-space-2-top u-space-2-top--md u-space-2-top--lg u-space-3-bottom tab-pane">
          <div class="row">
            <div class="col-lg-8 mb-9 mb-lg-0 mr-5">
              <h3><span class="fa fa-check-circle">内容を確認の上「完了」ボタンを押してください</span></h3>
              <table border="1" class="w-100">
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    決済金額
                  </td>
                  <td class="p-3">
                    1000円
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    リターン内容
                  </td>
                  <td class="p-3">
                    透明なパンツ
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    備考欄
                  </td>
                  <td class="p-3">
                      <!-- Datepicker -->
                      当日は行きません
                    <!-- End Datepicker -->
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">お祝いコメント</td>
                    <td class="p-3">
                      おめでとうううううう
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    お支払い方法
                  </td>
                    <td class="p-3">
                      クレカ情報
                  </td>
                </tr>
              </table>
              <%= button_to "支援する！", {action: "follow_project", id: params[:id]},
              {method: :post, params: {project_id: params[:id], return_id: params[:return_id], return_price: @project_return_price,
                class: "btn btn-block btn-warning u-btn-primary mb-3" }} %>
            </div>

            <div id="stickyBlockStartPoint" class="col-lg-3">
              <!-- Sticky Block -->
              <h5><span class="fa fa-check-square"></span>選択中のプロジェクト</h5>
              <hr>
              <!-- Projects -->
              <div class="card mb-5">
                <div class="card-body p-2">
                  <div class="text-center">
                    画像
                    <!-- Title -->
                    <div class="mb-4">
                      <h3 class="h5 mb-1">プロジェクトタイトル</h3>
                    </div>
                    <!-- End Title -->

                    <!-- List of Icons -->
                    <div class="row justify-content-between align-items-center mb-3">
                      <div class="col-6" style="margin:0 25%;">
                        <a class="small text-secondary" href="#">
                          <span class="fa fa-bookmark text-primary mr-1"></span>
                          プロジェクト主催者名
                        </a>
                      </div>
                    </div>
                    <!-- End List of Icons -->
                    <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                      <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                    </div>
                  </div>
                </div>

                <div class="card-footer text-center">
                  <!-- Budget & Priority -->
                  <div class="row align-items-center">
                    <div class="col-4 u-ver-divider">
                      <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                      <!--
                      <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    -->
                      <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                    </div>
                    <div class="col-4 u-ver-divider">
                      <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                        100人
                    </div>
                      <!-- End Members List -->
                    <div class="col-4">
                      <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                      <span class="text-dark" style="　font-weight:bold;">100日</span>
                    </div>
                  </div>
                  <!-- End Budget & Priority -->
                </div>
              </div>
              <!-- End Projects -->

                <hr class="my-7">


                <!-- Instafeed -->
                <div id="instaFeed" class="js-instagram row mx-gutters-2"
                     data-user-id="4815936096"
                     data-client-id="60648b9247324e87a4d7ab3aa7a58f6c"
                     data-token="4815936096.1677ed0.1cbcaacad4de4ffa96aa15ec76e0e5ce"
                     data-limit="4"
                     data-template='<div class="col-3"><a href="{{link}}" target="_blank"><img class="img-fluid w-100 rounded" src="{{icon}}" /></a></div>'>

                </div>
                <!-- End Instafeed -->
              <!-- End Sticky Block -->
            </div>
          </div>
        </div>
      <!-- confirm end -->

      <!-- End Blog Classic Section -->
    </div>

  </main>
  <!-- ========== END MAIN ========== -->
</body>
</html>
