<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Blog Classic Section -->
    <div class="p-3">

      <div id="thanks" class="container u-space-2-top u-space-2-top--md u-space-2-top--lg tab-pane">
          <h1 class="text-primary">SHUKUFUKUをご利用頂き、ありがとうございました！</h1>
          <hr style="border-color:#e67b80;">
          <div class="col-lg-12 mb-9 mb-lg-0 mr-5">
            <div class="mb-9 p-3">
              <h5>このリターンを選択しました！</h5>
              <div class="image_attach mb-5">
                <%= image_tag @project.main_image.url, class:"img-fluid rounded pr-8" %>
              </div>
              <h2 class="text-left font-size-48 mb-9" style="margin:auto;"><%= @project.title %></h2>
              <div class="mb-4">
                <p class="text-primary"　style="margin-bottom: 0px !important;"><span class="pr-2"><img src="/icon/human.png" style="width:25px"></span>ご祝儀人：<%= @celebraters_count %>人</p>
              </div>
              <div class="mb-4">
                <p class="text-primary" style="margin-bottom: 0px !important;"><span class="pr-2"><img src="/icon/watch.png" style="width:25px"></span>お届け予定日：<%= @remaining_days %>日</p>
              </div>
            </div>
            <!-- End Title -->
          </div>

        </div>
      <!-- thanks end -->

      <!-- End Blog Classic Section -->
    </div>

  </main>
  <!-- ========== END MAIN ========== -->
</body>
</html>
