<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Blog Classic Section -->
    <div class="p-3">

      <div id="thanks" class="container u-space-2-top u-space-2-top--md u-space-2-top--lg u-space-3-bottom tab-pane">
          <h1>Marry meをご利用頂き、ありがとうございました！！</h1>
          <div class="col-lg-12 mb-9 mb-lg-0 mr-5">
            <div class="row mb-9" style="border:1px solid orange; padding: 5%;">
              <small class="text-right w-100" style="right:-5%; top:-50%;">このリターンを選択中</small>
              <!-- Title -->
              <div class="w-md-70 w-lg-60">
                <div class="col-sm-12 mb-7">
                  <!-- News Classic -->
                  <article>
                    <div class="bg-warning mt-2 mb-3 p-2">
                      <h3 style="color:white; text-align:center">1000円のリターン</h3>
                    </div>
                    <p class="d-block text-secondary mb-1">キャッチコピーor感謝のメッセージ</p>
                    <div class="row" style=" ">
                      <div class="col-sm-5" style="font-size: 80%;">
                        <span class="fa fa-user"></span>
                        メンバー：100人
                      </div>
                      <div class="col-sm-7" style="font-size: 80%;">
                        <span class="fa fa-truck"></span>
                          お届け予定：2019年12月
                      </div>
                    </div>
                  </article>
                  <!-- End News Classic -->
                </div>
              </div>
              <div class="w-md-30 w-lg-40">

              </div>
            </div>
            <!-- End Title -->
          </div>

        </div>
      <!-- thanks end -->

      <!-- End Blog Classic Section -->
    </div>

  </main>
  <!-- ========== END MAIN ========== -->
</body>
</html>
