<!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
          data-header-fix-moment="500"
          data-header-fix-effect="slide">
    <!-- Search -->
    <div id="searchPushTop" class="u-search-push-top">
      <div class="container position-relative">
        <div class="u-search-push-top__content mx-auto">
          <!-- Close Button -->
          <button type="button" class="close u-search-push-top__close-btn"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="searchPushTop"
                  data-unfold-type="jquery-slide"
                  data-unfold-target="#searchPushTop">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- End Close Button -->

          <!-- Input -->
          <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd">
            <input type="search" class="form-control u-form__input" placeholder="Search Front" aria-label="Search Front">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary u-btn-primary">Search</button>
            </div>
          </form>
          <!-- End Input -->

          <!-- Link Lists -->
          <div class="row d-none d-md-flex mt-7">
            <div class="col-sm-6">
              <strong class="d-block mb-2">Quick Links</strong>

              <div class="row">
                <!-- List -->
                <ul class="col-sm-6 list-unstyled u-list">
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Search Results List
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Search Results Grid
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="../pages/about-agency.html">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      About
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="../pages/services-agency.html">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Services
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Invoice
                    </a>
                  </li>
                </ul>
                <!-- End List -->

                <!-- List -->
                <ul class="col-sm-6 list-unstyled u-list">
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Profile
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      User Contacts
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Reviews
                    </a>
                  </li>
                  <li>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                      Settings
                    </a>
                  </li>
                </ul>
                <!-- End List -->
              </div>
            </div>

            <div class="col-sm-6">
              <!-- Banner -->
              <div class="rounded u-search-push-top__banner">
                <div class="d-flex align-items-center">
                  <div class="u-search-push-top__banner-container">
                    <img class="img-fluid u-search-push-top__banner-img" src="../../assets/img/mockups/img3.png" alt="Image Description">
                    <img class="img-fluid u-search-push-top__banner-img" src="../../assets/img/mockups/img2.png" alt="Image Description">
                  </div>

                  <div>
                    <div class="mb-4">
                      <strong class="d-block mb-2">Featured Item</strong>
                      <p>Create astonishing web sites and pages.</p>
                    </div>
                    <a class="btn btn-xs u-btn-success--air transition-3d-hover" href="index.html">Apply Now <span class="fa fa-angle-right ml-2"></span></a>
                  </div>
                </div>
              </div>
              <!-- End Banner -->
            </div>
          </div>
          <!-- End Link Lists -->
        </div>
      </div>
    </div>
    <!-- End Search -->

    <div class="u-header__section">
      <!-- Topbar -->
      <div class="container u-header__hide-content pt-2">
        <div class="d-flex align-items-center mb-0">
          <!-- Language -->
          <!--
          <div class="position-relative">
            <a id="languageDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button"
               aria-controls="languageDropdown"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="hover"
               data-unfold-target="#languageDropdown"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-hide-on-scroll="true"
               data-unfold-animation-in="slideInUp"
               data-unfold-animation-out="fadeOut">
               <img class="u-unfold__icon" src="../../assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
              <span class="d-inline-block d-sm-none">US</span>
              <span class="d-none d-sm-inline-block">United States</span>
              <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
            </a>

            <div id="languageDropdown" class="u-unfold mt-2" aria-labelledby="languageDropdownInvoker">
              <a class="active u-list__link" href="#">English</a>
              <a class="u-list__link" href="#">Deutsch</a>
              <a class="u-list__link" href="#">Español‎</a>
            </div>
          </div>
        -->
          <!-- End Language -->

          <div class="ml-auto">
            <!-- Jump To -->
            <div class="d-inline-block d-sm-none position-relative mr-2">
              <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button"
                 aria-controls="jumpToDropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
                 data-unfold-event="hover"
                 data-unfold-target="#jumpToDropdown"
                 data-unfold-type="css-animation"
                 data-unfold-duration="300"
                 data-unfold-delay="300"
                 data-unfold-hide-on-scroll="true"
                 data-unfold-animation-in="slideInUp"
                 data-unfold-animation-out="fadeOut">
                Jump to
                <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
              </a>

              <div id="jumpToDropdown" class="u-unfold mt-2" aria-labelledby="jumpToDropdownInvoker">
                <a class="u-list__link" href="../pages/help.html">Help</a>
                <a class="u-list__link" href="../pages/contacts-agency.html">Contacts</a>
              </div>
            </div>
            <!-- End Jump To -->

            <!-- Links -->
            <div class="d-none d-sm-inline-block ml-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/help.html">Help</a>
                </li>
                <li class="list-inline-item mr-0">
                  <a class="u-header__topbar-nav-link" href="../pages/contacts-agency.html">Contacts</a>
                </li>
              </ul>
            </div>
            <!-- End Links -->
          </div>

          <ul class="list-inline ml-2 mb-0">
            <!-- Search -->
            <li class="list-inline-item">
              <a class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      aria-controls="searchPushTop"
                      data-unfold-type="jquery-slide"
                      data-unfold-target="#searchPushTop">
                <span class="fa fa-search u-btn--icon__inner"></span>
              </a>
            </li>
            <!-- End Search -->

          </ul>
        </div>
      </div>
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="index.html" aria-label="Front">
            <img src="../../assets/svg/logos/logo.svg" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
              <!-- Home -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-position="left">
                <a id="homeMegaMenu" class="nav-link u-header__nav-link pl-0" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false">
                  marryとは？
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                  <div class="row p-0 mr-0">
                    <div class="col-lg-6 pr-0">
                      <!-- Banner Image -->
                      <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="../../assets/img/750x750/img1.jpg">
                        <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                          <div class="mb-4">
                            <strong class="d-block u-header__banner-v1-title mb-2">キャッチフレーズ</strong>
                            <span class="u-header__banner-v1-text">サブタイトル</span>
                          </div>
                          <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="services-agency.html">詳しく見る<span class="fa fa-angle-right ml-2"></span></a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                      <div class="row u-header__mega-menu-wrapper-v1">
                        <div class="col-sm-8">
                          <strong class="d-block mb-2">3行程度のサービスへの想い
                            <br>
                            <br>
                            <br>
                            <br>
                          </strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Home -->

              <!-- Pages -->
              <li class="nav-item">
                <a class="nav-link u-header__nav-link" href="../pages/contacts-start-up.html" target="_blank">
                  プロジェクトを始める
                </a>
              </li>



              <!-- Blog -->
              <li class="nav-item hs-has-sub-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut">
                <a id="blogMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false"
                   aria-labelledby="blogSubMenu">
                  プロジェクトを探す
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Blog - Submenu -->
                <ul id="blogSubMenu" class="list-inline hs-sub-menu u-header__sub-menu py-3 mb-0" style="min-width: 220px;"
                    aria-labelledby="blogMegaMenu">
                  <!-- Classic -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogClassic" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogClassic">
                      スタジアム
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogClassic" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogClassic">

                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/classic-full-width.html">画像</a>
                      </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- Classic -->

                  <!-- Grid -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogGrid" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogGrid">
                      球場
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogGrid" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogGrid">

                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/grid-full-width.html">画像</a>
                      </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- Grid -->

                  <!-- List -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogList" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogList">
                      ハワイ
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogList" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogList">

                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/list-full-width.html">画像</a>
                      </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- List -->

                  <!-- Modern -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogCard" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogCard">
                      大海原
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogCard" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogCard">

                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/modern-full-width.html">画像</a>
                      </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- Grid Modern -->

                  <!-- Masonry -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogGridMinimal" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogGridMinimal">
                      大草原
                      <span class="badge badge-success ml-1">New</span>
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogGridMinimal" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogGridMinimal">

                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/masonry-full-width.html">
                          <img src="../../assets/img/icons/sougen.png" style="width:100%;">
                        </a>
                      </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- Masonry -->

                  <!-- Single Article -->
                  <li class="dropdown-item hs-has-sub-menu">
                    <a id="navLinkBlogGridMasonry" class="nav-link u-header__sub-menu-nav-link u-list__link py-2" href="javascript:;"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="navSubmenuBlogGridMasonry">
                      小学校
                      <span class="fa fa-angle-right u-header__sub-menu-nav-link-icon"></span>
                    </a>

                    <!-- Submenu (level 2) -->
                    <ul id="navSubmenuBlogGridMasonry" class="hs-sub-menu list-unstyled u-header__sub-menu u-header__sub-menu-menu-gutter--y u-header__sub-menu-offset" style="min-width: 220px;"
                        aria-labelledby="navLinkBlogGridMasonry">
                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/single-article-classic.html">画像</a>
                      </li>
                      <!--
                      <li class="dropdown-item px-0">
                        <a class="nav-link u-list__link px-4" href="../blog/single-article-simple.html">Simple</a>
                      </li>
                    -->
                    </ul>
                    <!-- End Submenu (level 2) -->
                  </li>
                  <!-- Single Article -->
                </ul>
                <!-- End Submenu -->
              </li>
              <!-- End Blog -->



              <!-- Shop -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-max-width="440px"
                  data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link" href="javascript:;"
                   aria-haspopup="true"
                   aria-expanded="false">
                   <br>
                  <span class="fa fa-user-circle u-btn--icon__inner font-size-32"></span>

                </a>

                <!-- Shop - Mega Menu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper-v1">

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li><%= link_to "マイページへ", @user %></li>
                          <li><a class="nav-link u-list__link py-2 px-0" href="../account/edit-profile.html">プロフィール編集</a></li>

                          <li><a class="nav-link u-list__link py-2 px-0" href="../account/change-password.html">パスワード設定</a></li>
                        </ul>
                        <!-- End Links -->
                      </div>

                      <div class="col-sm-6">
                        <!-- Links -->
                        <ul class="list-unstyled u-list">
                          <li><a class="nav-link u-list__link py-2 px-0" href="../account/payment-methods.html">お支払い方法の確認</a></li>
                          <li><a class="nav-link u-list__link py-2 px-0" href="../shop/checkout.html">銀行口座情報</a></li>
                        </ul>
                        <!-- End Links -->
                      </div>
                    </div>
                  </div>

                  <!-- Mega Menu Banner -->
                  <div class="d-none d-md-block u-header__banner-v2 pr-4">
                    <div class="d-flex align-items-end">
                      <img class="img-fluid mr-4" src="../../assets/img/mockups/img4.png" alt="Image Description" style="width: 200px;">
                      <div class="py-4">
                        <div class="mb-4">
                          <strong class="d-block u-header__banner-v2-title mb-2">マイプロジェクト</strong>
                          <span class="d-block u-header__banner-v2-text">支援人数</span>
                        </div>
                        <a class="btn btn-sm u-btn-primary--air transition-3d-hover" href="../shop/classic.html">プロジェクトページへ<span class="fa fa-angle-right ml-2"></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- End Mega Menu Banner -->
                </div>
                <!-- End Shop - Mega Menu -->
              </li>
              <!-- End Shop -->



              <!-- Button -->
              <li class="nav-item d-none d-md-inline-block pl-3 pr-0">

                  <%= link_to "登録", new_user_path, class="btn btn-sm btn-primary u-btn-primary transition-3d-hover", target="_blank" %>
              </li>
              <!-- End Button -->

              <!-- Button -->
              <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                  ログアウト
                </a>
              </li>
              <!-- End Button -->

            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->
