
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- show new version -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">

  <!-- Google Fonts
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
-->

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../../assets/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../assets/animate.min.css">
  <link rel="stylesheet" href="../../assets/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../assets/jquery.fancybox.css">
  <link rel="stylesheet" href="../../assets/slick.css">

  <link rel="stylesheet" href="../../assets/dzsparallaxer.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="../../assets/front.css">

  <!-- project.new_page --->
  <link rel="stylesheet" href="../../assets/summernote-lite.css">
  <link rel="stylesheet" href="../../assets/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="../../assets/flatpickr.min.css">
  <!-- project.show_page --->
  <link rel="stylesheet" href="../../assets/bootstrap-select.min.css">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


  <!-- JS Global Compulsory -->
  <script src="../../assets/jquery.min.js"></script>
  <script src="../../assets/jquery-migrate.min.js"></script>
  <script src="../../assets/popper.min.js"></script>
  <script src="../../assets/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->

  <script src="../../assets/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../assets/jquery.validate.min.js"></script>
  <script src="../../assets/jquery.fancybox.min.js"></script>
  <script src="../../assets/typed.min.js"></script>
  <script src="../../assets/slick.js"></script>

  <script src="../../assets/dzsparallaxer.js"></script>
  <script src="../../assets/gmaps.min.js"></script>

  <script src="../../assets/summernote-bs4.min.js"></script>
  <script src="../../assets/bootstrap-tagsinput.min.js"></script>
  <script src="../../assets/flatpickr.min.js"></script>

  <!-- JS Front -->
  <script src="../../assets/hs.core.js"></script>
  <script src="../../assets/hs.megamenu.js"></script>

  <script src="../../assets/helpers/hs.focus-state.js"></script>

  <script src="../../assets/components/hs.header.js"></script>
  <script src="../../assets/components/hs.unfold.js"></script>
  <script src="../../assets/components/hs.malihu-scrollbar.js"></script>
  <script src="../../assets/components/hs.validation.js"></script>
  <script src="../../assets/components/hs.fancybox.js"></script>
  <script src="../../assets/components/hs.slick-carousel.js"></script>
  <script src="../../assets/components/hs.show-animation.js"></script>
  <script src="../../assets/components/hs.go-to.js"></script>

  <script src="../../assets/components/hs.selectpicker.js"></script>

  <script src="../../assets/components/hs.summernote-editor.js"></script>
  <script src="../../assets/components/hs.range-datepicker.js"></script>

  <script src="../../assets/components/hs.chart-pie.js"></script>
  <script src="../../assets/components/hs.progress-bar.js"></script>



　
  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767,
        hideTimeOut: 0
      });


    // initialization of HSMegaMenu component
      $('.js-breadcrumb-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991,
        hideTimeOut: 0
      });
    });


    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of forms
      $.HSCore.helpers.HSFocusState.init();



      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#password'
          }
        }
      });

      // initialization of text editors
      $.HSCore.components.HSSummernoteEditor.init('.js-summernote-editor');

      // initialization of select picker
      $.HSCore.components.HSSelectPicker.init('.js-select');

      // initialization of range datepicker
      $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of fancybox
      $.HSCore.components.HSFancyBox.init('.js-fancybox');

      // initialization of text animation (typing)
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["more professional.", "perfect in every way.", "astonishing."],
        typeSpeed: 60,
        loop: true,
        backSpeed: 25,
        backDelay: 1500
      });

      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

      // initialization of chart pies
      var items = $.HSCore.components.HSChartPie.init('.js-pie');

      // initialization of horizontal progress bars
      var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress', {
        direction: 'horizontal',
        indicatorSelector: '.js-hr-progress-bar'
      });

      var verticalProgressBars = $.HSCore.components.HSProgressBar.init('.js-vr-progress', {
        direction: 'vertical',
        indicatorSelector: '.js-vr-progress-bar'
      });

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    // initialization of google map
    function initMap() {
      $.HSCore.components.HSGMap.init('.js-g-map');
      $.HSCore.components.HSGMap.init('#gMapMultipleMarkers', {
        infoWindowTemplate: function (imgsrc, imgalt, date, locationname, title) {
          return '<div class="u-gmap-v1__info">' +
            '<img class="img-fluid mb-2" src="' + imgsrc + '" alt="' + imgalt + '">' +
            '<small class="d-block text-muted mb-2">' + date + '</small>' +
            '<h4 class="h6 mb-0">' + title + '</h4>' +
            '<p class="mb-0">' + locationname + '</p>' +
            '</div>';
        }
      });
    }
  </script>

<!--
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async defer></script>
-->
